<ion-view class="welcome" hide-nav-bar='true'>

    <ion-content>

        <div style="margin-top: 50px;text-align: center;">

            <img src="css/img/logo.svg" style="width:65%; margin:0 auto;display: block;"/>

            <div class="bottom">
                <a class="button button-stable" ui-sref="app.signup" style="max-width:84%;color:#333;padding-left:28px;padding-right:28px;">
                    Sign Up
                </a>
                <a class="button button-block button-clear" ui-sref="app.login">
                    Already a member?<br>Log In&nbsp;<i class="icon-arrow-right"></i>
                </a>
            </div>

        </div>

    </ion-content>

</ion-view>